.section__video {
    background: lightgray;

    &__left {
        grid-column: 1 / span 2;
        margin-bottom: 2rem;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2rem;
        justify-items: center;
        padding: 2rem 30rem;
        margin: auto 0;
    }

    article {
        display: flex;
        flex-direction: column;
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    h2 {
       
        text-transform: uppercase;
        color: #0e0c0c;
        letter-spacing: .2rem;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1rem;
        
    }

    p {
        font-size: 12px;
    }

    h2:not(:first-child) {
        margin: 1rem 0;
    }

    p:not(:first-child) {
        margin: 1rem 0;
    }

    br {
        margin-bottom: 1rem;
    }

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    

  
}